.side-bar-text {
    color: var(--text-color) !important;
}

.theme-btn {
    background-color: #595AFF !important;
}

.theme-background {
    background-color: #121216 !important;
}

.theme-list-item {
    background-color: transparent !important;
}

.theme-list-item:hover {
    box-shadow: inset 0 0 0 1px #595AFF !important;
}