.search-card-input {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.side-bar-text {
    color: var(--text-color) !important;
}

.theme-btn {
    background-color: #595AFF !important;
}

.theme-background {
    background-color: #121216 !important;
}