@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html,
body {
    overscroll-behavior-y: contain;
}

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

a {
    color: unset;
}

img {
    pointer-events: none;
}

.complete-view {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.side-view {
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-view {
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.player-view {
    flex: 0 1;
}

.progress {
    height: 10px;
    cursor: pointer;
}

.progress-bar {
    transition: unset !important;
}

.placeholder-img {
    width: 100%;
}

.search-link {
    font-weight: 700;
    text-decoration: none;
}

.search-link:hover {
    color: var(--bs-danger);
}

.hide-on-mobile {
    display: none !important;
}

@media (min-width: 576px) {
    .hide-on-mobile {
        display: flex !important;
    }
}

@media (min-width: 576px) {
    .hide-on-desktop {
        display: none !important;
    }
}

.artist-title {
    font-size: 32px;
    font-weight: 700;
}

.album-title {
    font-size: 32px;
    font-weight: 700;
}

.dropdown-menu {
    padding: 0.25rem !important;
}

.now-playing {
    background-color: #FFF3CD;
}

.clickable {
    cursor: pointer;
}

.unclickable {
    cursor: default;
}

.clickable-shadow:hover img {
    opacity: 0.75 !important;
}

.invisible {
    opacity: 0;
}

.right-0 {
    right: 0 !important;
}

.img-profile {
    object-fit: cover;
    max-width: 100% !important;
    aspect-ratio: 1/1;
}

.figure-img {
    margin: 0px;
}

.red-on-hover {
    font-weight: 700;
    text-decoration: none;
}

.red-on-hover:hover {
    color: var(--bs-danger);
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.playlist-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 250px;
    aspect-ratio: 1 / 1;
}

.playlist-selection-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 56px;
    aspect-ratio: 1 / 1;
}

.square {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.action-btn {
    aspect-ratio: 1 / 1;
    border-radius: 50% !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.appear {
    animation-name: appear_animation;
    animation-duration: 1s;
}

@keyframes appear_animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mobile-carousel {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    flex-direction: row;
    scrollbar-width: none;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
}

.carousel-img {
    aspect-ratio: 1/1;
    object-fit: contain;
}

.track-cover {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 56px;
    height: 56px;
}

.padding-7 {
    padding-top: 7px;
}

.login-alert {
    height: 38px;
}

.animation {
    position: fixed;
    z-index: 1047;
}

.img-lastfm {
    object-fit: cover;
    aspect-ratio: 1/1;
}

.form-control::placeholder {
    color: unset !important;
}

.radio-player {
    width: 100%;
    height: 100px;
}

.list-group-item {
    border: none;
}

.text-muted {
    color: #6c757d !important;
}

.btn-link {
    text-decoration: none !important;
}

.album-info:before {
    content: "-";
    margin: 0 5px
}

/* 
------
THEMES
-------
*/

/* Dark Theme */
body.dark-theme {
    --foreground-color: #23232D;
    --background-color: #121216;
    --text-color: #eee;
    --card-background: transparent;
    --shadow-color: rgb(255, 255, 255, 0.4);
    --input-border-color: #495057;
    --btn-close: invert(1) grayscale(100%) brightness(200%);
}

/* Light Theme */
body.light-theme {
    --foreground-color: #FFFFFF;
    --background-color: #F8F8F9;
    --text-color: #000;
    --card-background: transparent;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --input-border-color: #dee2e6;
    --btn-close: none;
}

.form-control:focus {
    border-color: #595AFF;
    box-shadow: inset 0 0 0 1px #595AFF;
    box-shadow: 0 0 1rem var(--shadow-color) !important;
}

.theme-color {
    color: var(--text-color) !important;
}

body {
    background-color: var(--background-color) !important;
}

.search-link {
    color: var(--bs-dark) !important;
}

.search-link:hover {
    color: var(--bs-danger) !important;
}

hr {
    color: var(--text-color) !important;
}

.now-playing {
    box-shadow: inset 0 0 0 1px #595AFF !important;
}

.clickable-shadow:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color) !important;
}

.clickable-opacity {
    cursor: pointer;
}

.clickable-opacity:hover {
    opacity: 0.75 !important;
}

.red-on-hover:hover {
    color: var(--bs-danger) !important;
}

.black-on-hover:hover {
    color: #191922 !important;
}

.purple-on-hover:hover {
    color: #595AFF !important;
}

.purple-color {
    color: #595AFF !important;
}

.artist {
    color: #000 !important;
    background-color: #FF595E !important;
}

.track {
    color: #000 !important;
    background-color: #1982C4 !important;
}

.album {
    color: #fff !important;
    background-color: #6A4C93 !important;
}

.playlist {
    color: #000 !important;
    background-color: #FFCA3A !important;
}

.user {
    color: #000 !important;
    background-color: #8AC926 !important;
}

.card {
    background-color: var(--card-background) !important;
}

.player-card {
    background-color: #23232D !important;
}

.search-card-input {
    color: var(--text-color) !important;
    background-color: var(--foreground-color) !important;
    border: 1px solid var(--input-border-color);
}

.side-bar-text {
    color: var(--text-color) !important;
}

.theme-btn {
    background-color: #595AFF !important;
}

.theme-background {
    background-color: var(--card-background) !important;
}

.theme-bg {
    background-color: var(--background-color) !important;
}

.theme-list-item {
    background-color: transparent !important;
}

.theme-list-item-no-hover {
    background-color: transparent !important;
}

.theme-comment-item {
    background-color: transparent !important;
}

.theme-list-item:hover {
    box-shadow: inset 0 0 0 1px #595AFF !important;
}

.offcanvas-body {
    background-color: var(--background-color) !important;
}

.img-thumbnail {
    padding: 0;
}

.server-selection,
.server-selection:hover {
    border: 1px solid #ced4da;
    background-color: var(--background-color) !important;
}

.timestamp {
    font-size: 12px;
    display: inline;
    line-height: 21px;
}

.server {
    color: var(--text-color)
}

.foreground {
    background-color: var(--foreground-color) !important;
    border-radius: var(--bs-border-radius) !important;
}

.foreground-content {
    background-clip: content-box !important;
    background-color: var(--foreground-color) !important;
    border-radius: var(--bs-border-radius) !important;
}

.theme-border {
    border: 1px solid var(--input-border-color);
}

.theme-shadow {
    box-shadow: 0 0 1rem var(--shadow-color) !important;
}

.theme-filter {
    filter: var(--btn-close);
}

.theme-label::after {
    background-color: transparent !important;
}